<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">	

<suite thread-count="1" verbose="1" name="Admin360TestProject" annotations="JDK" parallel="tests">
         
  <test name="Login" preserve-order="true">
	 <classes >
	   <class name="com.mytest.Login">
	   <methods>
	   			<include name="login"></include>
       </methods>
	   </class>
	 </classes>
  </test>
  
  <!-- <test name="Master_Course" preserve-order="true" >
	 <classes>
	   <class name="com.mytest.Master_Course">
	   <methods>
	   			<include name="Coursename_contain_special_characters" />
                <include name="Coursename_contain_numbers" />
                <include name="Coursename_contain_whitespaces"/>
                <include name="Coursename_contain_alphabets"/>
                <include name="Coursename_contain_whitespaces_at_begining"/>
                <include name="Coursename_field_is_Blank"/>
                <include name="Coursefees_field_is_Blank"/> 
                <include name="Coursefees_contain_special_characters"/>
                <include name="Coursefees_contain_whitespaces"/>
             	<include name="Coursefees_contain_alphabets"/>
            	<include name="Coursefees_contain_numbers"/>
                <include name="Coursefees_contain_negative_numbers"/>
                <include name="Coursefees_contain_whitespaces_at_begining"/>
                <include name="Cancel_button_functionality"/>
                <include name="Save_button_functionality"/>
                <include name="Update_button_functionality"/>
                <include name="Update_cancel_button_functionality"/>
                <include name="Update_functionality"/>
                <include name="Delete_button_functionality"/>
       </methods>
       </class>
	 </classes>
  </test>  -->     
	
<!--   <test name="Enquiry" preserve-order="true">
  	<classes>
  		<class name="com.mytest.Enquiry">
  		<methods>
  				<include name="Add_Course"/>
  				<include name="Studentname_contain_Special_Characters"/>
  				<include name="Studentname_contain_numbers" />
                <include name="Studentname_contain_whitespaces"/>
                <include name="Studentname_contain_alphabets"/>
                <include name="Studentname_contain_whitespaces_at_begining"/>
                <include name="Studentname_field_is_Blank"/>
                <include name="Middlename_contain_Special_Characters"/>
  				<include name="Middlename_contain_numbers" />
                <include name="Middlename_contain_whitespaces"/>
                <include name="Middlename_contain_whitespaces_at_begining"/>
                <include name="Middlename_contain_alphabets"/>
                <include name="Lastname_contain_Special_Characters"/>
  				<include name="Lastname_contain_numbers" />
                <include name="Lastname_contain_whitespaces"/>
                <include name="Lastname_contain_alphabets"/>
                <include name="Lastname_contain_whitespaces_at_begining"/>
                <include name="Lastname_field_is_Blank"/>
                <include name="Collegename_contain_Special_Characters"/>
  				<include name="Collegename_contain_numbers" />
                <include name="Collegename_contain_whitespaces"/>
                <include name="Collegename_contain_alphabets"/>
                <include name="Collegename_contain_whitespaces_at_begining"/>
                <include name="Collegename_field_is_Blank"/>
                <include name="Qualification_contain_Special_Characters"/>
  				<include name="Qualification_contain_numbers" />
                <include name="Qualification_contain_whitespaces"/>
                <include name="Qualification_contain_alphabets"/>
                <include name="Qualification_contain_whitespaces_at_begining"/>
                <include name="Qualification_field_is_Blank"/>
                <include name="Aadharno_contain_special_characters"/>
  				<include name="Aadharno_contain_numbers" />
                <include name="Aadharno_contain_alphabets"/>
                <include name="Aadharno_contain_whitespaces_at_begining"/>
                <include name="Aadharno_contain_lessthan_12_numbers"/>
                <include name="Aadharno_contain_greaterthan_12_numbers"/>
                <include name="Birthdate_Field_is_Blank"></include>
                <include name="Birthdate_functionality"/>
                <include name="Blank_Gender_field"></include>
                <include name="Gender_functionality"/>
                <include name="PersonalInfo_next_button_functionality"/>
                <include name="Primary_mobno_field_is_Blank"></include>
                <include name="Primary_mobno_contain_special_characters"/>
  				<include name="Primary_mobno_contain_numbers" />
                <include name="Primary_mobno_contain_whitespaces"/>
                <include name="Primary_mobno_contain_alphabets"/>
                <include name="Primary_mobno_contain_whitespaces_at_begining"/>
                <include name="Primary_mobno_field_is_Blank"/>
                <include name="Primary_mobno_contain_lessthan_10_numbers"/>
                <include name="Primary_mobno_contain_greaterthan_10_numbers"/>
                <include name="Secondary_mobno_contain_special_characters"/>
  				<include name="Secondary_mobno_contain_numbers" />
                <include name="Secondary_mobno_contain_whitespaces"/>
                <include name="Secondary_mobno_contain_alphabets"/>
                <include name="Secondary_mobno_contain_whitespaces_at_begining"/>
                <include name="Secondary_mobno_contain_lessthan_10_numbers"></include>
                <include name="Secondary_mobno_contain_greaterthan_10_numbers"/>
                <include name="Primary_email_contain_whitespaces"/>
                <include name="Primary_email_valid"/>
                <include name="Primary_email_contain_whitespaces_at_begining"/>
               	<include name="Primary_email_field_is_Blank"/>
                <include name="Secondary_email_contain_whitespaces"/>
                <include name="Secondary_email_valid"/>
                <include name="Secondary_email_contain_whitespaces_at_begining"/>
               	<include name="Secondary_email_field_is_Blank"/>
               	<include name="Valid_current_address"/>
               	<include name="Blank_current_address"/>
               	<include name="Valid_permanent_address"/>
               	<include name="Pincode_currentaddress_contain_special_characters"></include>
  				<include name="Pincode_currentaddress_contain_numbers" />
                <include name="Pincode_currentaddress_contain_whitespaces"/>
                <include name="Pincode_currentaddress_contain_alphabets"/>
                <include name="Pincode_currentaddress_contain_whitespaces_at_begining"/>
                <include name="Pincode_currentaddress_field_is_Blank"></include>
                <include name="Pincode_currentaddress_contain_morethan_6_numbers"></include>
                <include name="Pincode_currentaddress_contain_lessthan_6_numbers"></include>
                <include name="Pincode_permanentaddress_contain_special_characters"></include>
  				<include name="Pincode_permanentaddress_contain_numbers" />
                <include name="Pincode_permanentaddress_contain_whitespaces"/>
                <include name="Pincode_permanentaddress_contain_alphabets"/>
                <include name="Pincode_permanentaddress_contain_whitespaces_at_begining"/>
                <include name="Pincode_permanentaddress_contain_morethan_6_numbers"></include>
                <include name="Pincode_permanentaddress_contain_lessthan_6_numbers"></include>
                <include name="Communicationdetails_next_button_functionality"></include>
                <include name="Course_interested_is_Blank"></include>
                <include name="Course_interested_functionality"></include>
                <include name="Multiple_Course_Interested"></include>
                <include name="Blank_Demo_Lecture"></include>
                <include name="Demo_lecture_functionality"></include>
                <include name="Blank_Interest_level"></include>
                <include name="Interest_level_functionality"></include>
                <include name="Blank_Next_Follow_Up_Date"></include>
                <include name="Next_Follow_Up_Date"></include>
                <include name="Blank_Follow_up_Details"></include>
                <include name="Follow_up_Details_functionality"></include>
                <include name="FollowUpDetails_next_button_functionality"></include>
                <include name="Blank_Lead_Source"></include>
                <include name="Lead_Source_functionality"></include>
                <include name="Assign_to"></include>
                <include name="Reference_Name_functionality"></include>
                <include name="Todays_Created_Date"></include>
                <include name="Created_Date"></include>
                <include name="Finish_Button_functionality"></include>
                <include name="Update_functionalty"></include>
                <include name="Follow_Up_Cancel_Button"></include>
                <include name="Blank_Next_Follow_Update"></include>
                <include name="Next_Follow_Update"></include>
                <include name="Blank_Follow_Up_Mode"></include>
                <include name="Follow_Up_Mode"></include>
                <include name="Blank_Notes"></include>
                <include name="Notes"></include>
                <include name="Followup_save_button_functionality"></include>           
                <include name="Delete_Enquiry_Cancel_Button"></include>    
                <include name="Delete_Enquiry"></include> 
    		</methods>
  		</class>
  	</classes>
  </test>      -->   
    
  <test name="Admission" preserve-order="true">
  	<classes>
  		<class name="com.mytest.Admission">
  		<methods>
  				<include name="Add_Enquiry"></include>
  				<include name="Studentname_contain_Special_Characters"></include>
  				<include name="Studentname_contain_numbers" />
                <include name="Studentname_contain_whitespaces"/>
                <include name="Studentname_contain_alphabets"/>
                <include name="Studentname_contain_whitespaces_at_begining"/>
                <include name="Studentname_field_is_Blank"></include>
                <include name="Middlename_contain_Special_Characters"></include>
  				<include name="Middlename_contain_numbers" />
                <include name="Middlename_contain_whitespaces"/>
                <include name="Middlename_contain_whitespaces_at_begining"/>
                <include name="Middlename_contain_alphabets"/>
                <include name="Lastname_contain_Special_Characters"></include>
  				<include name="Lastname_contain_numbers" />
                <include name="Lastname_contain_whitespaces"/>
                <include name="Lastname_contain_alphabets"/>
                <include name="Lastname_contain_whitespaces_at_begining"/>
                <include name="Lastname_field_is_Blank"></include>
                <include name="Collegename_contain_Special_Characters"></include>
  				<include name="Collegename_contain_numbers" />
                <include name="Collegename_contain_whitespaces"/>
                <include name="Collegename_contain_alphabets"/>
                <include name="Collegename_contain_whitespaces_at_begining"/>
                <include name="Collegename_field_is_Blank"></include>
                <include name="Qualification_contain_Special_Characters"></include>
  				<include name="Qualification_contain_numbers" />
                <include name="Qualification_contain_whitespaces"/>
                <include name="Qualification_contain_alphabets"/>
                <include name="Qualification_contain_whitespaces_at_begining"/>
                <include name="Qualification_field_is_Blank"></include>
                <include name="Aadharno_contain_special_characters"></include>
  				<include name="Aadharno_contain_numbers" />
                <include name="Aadharno_contain_alphabets"/>
                <include name="Aadharno_contain_whitespaces_at_begining"/>
                <include name="Aadharno_contain_lessthan_12_numbers"></include>
                <include name="Aadharno_contain_greaterthan_12_numbers"></include>
                <include name="Birthdate_functionality"></include>
                <include name="Blank_Gender_field"></include>
                <include name="Gender_functionality"></include>
                <include name="PersonalInfo_next_button_functionality"></include>
                <include name="Primary_mobno_contain_special_characters"></include>
  				<include name="Primary_mobno_contain_numbers" />
                <include name="Primary_mobno_contain_whitespaces"/>
                <include name="Primary_mobno_contain_alphabets"/>
                <include name="Primary_mobno_contain_whitespaces_at_begining"/>
                <include name="Primary_mobno_field_is_Blank"></include>
                <include name="Primary_mobno_contain_lessthan_10_numbers"></include>
                <include name="Primary_mobno_contain_greaterthan_10_numbers"></include>
                <include name="Secondary_mobno_contain_special_characters"></include>
  				<include name="Secondary_mobno_contain_numbers" />
                <include name="Secondary_mobno_contain_whitespaces"/>
                <include name="Secondary_mobno_contain_alphabets"/>
                <include name="Secondary_mobno_contain_whitespaces_at_begining"/>
                <include name="Secondary_mobno_contain_greaterthan_10_numbers"></include>
                <include name="Secondary_mobno_contain_lessthan_10_numbers"></include>
                <include name="Primary_email_contain_whitespaces"/>
                <include name="Primary_email_valid"></include>
                <include name="Primary_email_contain_whitespaces_at_begining"/>
               	<include name="Primary_email_field_is_Blank"></include>
                <include name="Secondary_email_contain_whitespaces"/>
                <include name="Secondary_email_valid"></include>
                <include name="Secondary_email_contain_whitespaces_at_begining"/>
               	<include name="Secondary_email_field_is_Blank"></include>
               	<include name="Valid_current_address"></include>
               	<include name="Blank_current_address"></include>
               	<include name="Valid_permanent_address"></include>
               	<include name="Pincode_currentaddress_field_is_Blank"></include>
               	<include name="Pincode_currentaddress_contain_special_characters"></include>
  				<include name="Pincode_currentaddress_contain_numbers" />
                <include name="Pincode_currentaddress_contain_whitespaces"/>
                <include name="Pincode_currentaddress_contain_alphabets"/>
                <include name="Pincode_currentaddress_contain_whitespaces_at_begining"/>
                <include name="Pincode_currentaddress_contain_morethan_6_numbers"></include>
                <include name="Pincode_currentaddress_contain_lessthan_6_numbers"></include>
                <include name="Pincode_permanentaddress_contain_special_characters"></include>
  				<include name="Pincode_permanentaddress_contain_numbers" />
                <include name="Pincode_permanentaddress_contain_whitespaces"/>
                <include name="Pincode_permanentaddress_contain_alphabets"/>
                <include name="Pincode_permanentaddress_contain_whitespaces_at_begining"/>
                <include name="Pincode_permanentaddress_contain_morethan_6_numbers"></include>
                <include name="Pincode_permanentaddress_contain_lessthan_6_numbers"></include>
                <include name="Document_functionality"></include>
                <include name="Admission_date"></include>
                <include name="Communicationdetails_next_button_functionality"></include>
                <include name="Course_interested_is_Blank"></include>
                <include name="Course_interested_functionality"></include>
                <include name="Multiple_Course_Interested"></include>
                <include name="Course_Amount"></include>
                <include name="Discount_functionality"></include>
                <include name="CourseDetails_next_button_functionality"></include>
                <include name="Finish_button_functionality"></include>
                <include name="Update_functionality"></include>
                <include name="Delete_Admission"></include> 
                <include name="Studentname_contains_Special_Characters"></include>
                <include name="Studentname_contains_numbers" />
                <include name="Studentname_contains_whitespaces"/>
                <include name="Studentname_contains_alphabets"/>
                <include name="Studentname_contains_whitespaces_at_begining"/>
                <include name="StudentName_field_is_Blank"></include>
                <include name="Middlename_contains_Special_Characters"></include>
  				<include name="Middlename_contains_numbers" />
                <include name="Middlename_contains_whitespaces"/>
                <include name="Middlename_contains_whitespaces_at_begining"/>
                <include name="Middlename_contains_alphabets"/>
                <include name="Lastname_contains_Special_Characters"></include>
  				<include name="Lastname_contains_numbers" />
                <include name="Lastname_contains_whitespaces"/>
                <include name="Lastname_contains_alphabets"/>
                <include name="Lastname_contains_whitespaces_at_begining"/>
                <include name="LastName_field_is_Blank"></include>
                <include name="Collegename_contains_Special_Characters"></include>
  				<include name="Collegename_contains_numbers" />
                <include name="Collegename_contains_whitespaces"/>
                <include name="Collegename_contains_alphabets"/>
                <include name="Collegename_contains_whitespaces_at_begining"/>
                <include name="CollegeName_field_is_Blank"></include>
                <include name="Qualification_contains_Special_Characters"></include>
  				<include name="Qualification_contains_numbers" />
                <include name="Qualification_contains_whitespaces"/>
                <include name="Qualification_contains_alphabets"/>
                <include name="Qualification_contains_whitespaces_at_begining"/>
                <include name="Qualification_Field_is_Blank"></include>
                <include name="Aadharno_contains_special_characters"></include>
  				<include name="Aadharno_contains_numbers" />
                <include name="Aadharno_contains_alphabets"/>
                <include name="Aadharno_contains_whitespaces_at_begining"/>
                <include name="Aadharno_contains_lessthan_12_numbers"></include>
                <include name="Aadharno_contains_greaterthan_12_numbers"></include>
                <include name="Birthdate_Functionality"></include>
                <include name="Blank_Gender_Field"></include>
                <include name="Gender_Functionality"></include>
                <include name="PersonalInfo_next_button_Functionality"></include>
                <include name="Primary_mobno_contains_special_characters"></include>
  				<include name="Primary_mobno_contains_numbers" />
                <include name="Primary_mobno_contains_whitespaces"/>
                <include name="Primary_mobno_contains_alphabets"/>
                <include name="Primary_mobno_contains_whitespaces_at_begining"/>
                <include name="Primary_mobno_Field_is_Blank"></include>
                <include name="Primary_mobno_contains_lessthan_10_numbers"></include>
                <include name="Primary_mobno_contains_greaterthan_10_numbers"></include>
                <include name="Secondary_mobno_contains_special_characters"></include>
  				<include name="Secondary_mobno_contains_numbers" />
                <include name="Secondary_mobno_contains_whitespaces"/>
                <include name="Secondary_mobno_contains_alphabets"/>
                <include name="Secondary_mobno_contains_whitespaces_at_begining"/>
                <include name="Secondary_mobno_contains_lessthan_10_numbers"></include>
                <include name="Secondary_mobno_contains_greaterthan_10_numbers"></include>
                <include name="Primary_email_contains_whitespaces"/>
                <include name="Primary_Email_valid"></include>
                <include name="Primary_email_contains_whitespaces_at_begining"/>
               	<include name="Primary_email_Field_is_Blank"></include>
                <include name="Secondary_email_contains_whitespaces"/>
                <include name="Secondary_Email_valid"></include>
                <include name="Secondary_email_contains_whitespaces_at_begining"/>
               	<include name="Valid_Current_address"></include>
               	<include name="Blank_Current_address"></include>
               	<include name="Valid_Permanent_address"></include>
               	<include name="Pincode_currentaddress_contains_special_characters"></include>
  				<include name="Pincode_currentaddress_contains_numbers" />
                <include name="Pincode_currentaddress_contains_whitespaces"/>
                <include name="Pincode_currentaddress_contains_alphabets"/>
                <include name="Pincode_currentaddress_contains_whitespaces_at_begining"/>
                <include name="Pincode_Currentaddress_field_is_Blank"></include>
                <include name="Pincode_currentaddress_contain_morethan_6_numbers"></include>
                <include name="Pincode_currentaddress_contains_lessthan_6_numbers"></include>
                <include name="Pincode_permanentaddress_contains_special_characters"></include>
  				<include name="Pincode_permanentaddress_contains_numbers" />
                <include name="Pincode_permanentaddress_contains_whitespaces"/>
                <include name="Pincode_permanentaddress_contains_alphabets"/>
                <include name="Pincode_permanentaddress_contains_whitespaces_at_begining"/>
                <include name="Pincode_permanentaddress_contains_morethan_6_numbers"></include>
                <include name="Pincode_permanentaddress_contains_lessthan_6_numbers"></include>
                <include name="Document_Functionality"></include>
                <include name="Todays_Admission_Date"></include>
                <include name="Admission_Date"></include>
                <include name="Communicationdetails_next_button_Functionality"></include>
                <include name="Course_Functionality"></include>
                <include name="Blank_Discount_Functionality"></include>
                <include name="Discount_Functionality"></include>
                <include name="CourseDetails_next_button_Functionality"></include>
                <include name="Finish_button_Functionality"></include> 
                <include name="Update_Functionality"></include>
                <include name="Delete_admission"></include> 
   		</methods>
  		</class>
  	</classes>
  </test>  
 
 <!--  <test name="FeesManager" preserve-order="true">
  	<classes>
  		<class name="com.mytest.FeesManager">
  		<methods>
  		        <include name="Add_Admission"></include> 
  			 	<include name="Blank_Now_Receiving_Field"></include>
  				<include name="Now_Receiving_contains_aplhabets"></include>
  				<include name="Now_Receiving_contains_special_characters"></include>
  				<include name="Now_Receiving_contains_whitespaces"></include>
  				<include name="Now_Receiving_contains_whitespaces_at_begining"></include>
  				<include name="Now_Receiving_contains_numbers"></include>
  				<include name="Payment_Mode_Functionality"></include>
  				<include name="Blank_NextdueDate_functionality"></include>
  				<include name="NextdueDate_functionality"></include>
  				<include name="Notes"></include>
  				<include name="Payment_Clear"></include>
  				<include name="Save_Changes_button_functionality"></include>
  				<include name="Fee_Payment_Fee_Status_functionality"></include>
  				<include name="View_Receipts_functionality"></include>
  				<include name="Update_Fee_Receipt"></include>
  				<include name="Blank_Fee_Refund"></include>
  				<include name="Fee_Refund_contains_aplhabets"></include>
  				<include name="Fee_Refund_contains_special_characters"></include>
  				<include name="Fee_Refund_contains_whitespaces"></include>
  				<include name="Fee_Refund_contains_whitespaces_at_begining"></include>
  				<include name="Fee_Refund_lessthan_Paid_Fees"></include>
  				<include name="Fee_Refund_contains_numbers"></include>
  				<include name="Fee_Refund_Payment_Mode_Functionality"></include>
  				<include name="Fee_Refund_Notes"></include>
  				<include name="Fee_Refund_Payment_Clear"></include>
  				<include name="Fee_Refund_Save_Changes_button_functionality"></include>
  				<include name="Fee_Refund_Fee_Status_functionality"></include>
  				<include name="Fee_Refund_View_Receipts"></include>
  				<include name="Fee_Refund_Update_Fee_Receipt"></include>
  			    <include name="Delete_Fee_Receipt"></include>    
  		</methods>
        </class>
    </classes>
  </test>  -->

  <!--    <test name="Fee_Manager_Day_Book_Report" preserve-order="true">
  	<classes>
  		<class name="com.mytest.Fee_Manager_Day_Book_Report">
  		<methods>
  				<include name="Add_Admission"></include>
  				<include name="Cash_Payment_Mode"></include>
  				<include name="Cheque_Payment_Mode"></include>
   				<include name="Online_Payment_Mode"></include>
   		</methods>
  		</class>
  	</classes>
  </test> -->
    
        	  
<!--   <test name="Master_Batch" preserve-order="true">
  	<classes>
  		<class name="com.mytest.Batch_Master">
  		<methods>  
  				<include name="Add_Course"/>
  				<include name="Blank_Batch_Name"/>
  				<include name="Batch_Name_contain_Whitespaces_at_begining"/>
  				<include name="Batch_Name_contain_Spacial_Characters"/>
  				<include name="Batch_Name_contain_Numbers"/>
  				<include name="Batch_Name_contain_Whitespaces"/>
  				<include name="Batch_Name_contain_alphabets"/>
  				<include name="Blank_Course"/>
  				<include name="Course"/>
  				<include name="Blank_Batch_Size"/>
  				<include name="Batch_Size_contain_Special_Character"/>
  				<include name="Batch_Size_contain_Whitespaces"/>
  				<include name="Batch_Size_contain_Alphabets"/>
  				<include name="Batch_Size_contain_Whitespaces_at_Begining"/>
  				<include name="Batch_Size_contain_Negative_Numbers"/>
  				<include name="Batch_Size_contain_Numbers"/>
  				<include name="Save_Changes_Button_Functionality"/>
  				<include name="Cancel_Button_Functionality"/>
  				<include name="Update_Functionality"/>
  				<include name="Delete_Functionality"/>
  		</methods>
  		</class>
  	</classes>
  </test>	  -->
   
  <!-- <test name="Student_Batch" preserve-order="true">
  	<classes>
  		<class name="com.mytest.Student_Batch">
  		<methods>
  				<include name="Add_Course"/>
  				<include name="Blank_Course"/>
  				<include name="Blank_Batch"/>
  				<include name="Course"/>
  				<include name="Batch"/>
  				<include name="Save_Button_Functionality"/>
  		</methods>
  		</class>
  	</classes>
  </test> -->	
  
 <!--  
  <test name="Attendance" preserve-order="true">
  	<classes>
  		<class name="com.mytest.Attendance">
  		<methods>
  				<include name="Add_Course"></include>
  				<include name="Blank_Course"/>
  				<include name="Blank_Batch"/>
  				<include name="Course"/>
  				<include name="Batch"/>
  				<include name="Day"/>
  				<include name="Save_Button_Functionality"/>
  		</methods>
  		</class>
  	</classes>
  </test>		
  		-->   	
<!--     <test name="ChequeManager" preserve-order="true">
  	<classes>
  		<class name="com.mytest.ChequeManager">
  		<methods>	
  				<include name="Add_Fee_Status"></include>	
  				<include name="Cheque_Manager"></include>
  				<include name="Change_Cheque_Status"></include>
  		</methods>
  		</class>
  	</classes>
  </test>  -->	 
  
	 	
 <!--  	
   <test name="Master_Account_Head" preserve-order="true">
  	<classes>
  		<class name="com.mytest.Master_Account_Head">
  		<methods>	
  				<include name="Account_Head_contain_special_characters"></include>
  				<include name="Account_Head_contain_numbers"></include>
  				<include name="Account_Head_contain_whitespaces"></include>
  				<include name="Account_Head_contain_alphabets"></include>
  				<include name="Account_Head_contain_whitespaces_at_begining"></include>
  				<include name="Account_Head_field_is_Blank"></include>
  				<include name="Blank_Account_Type"></include>
  				<include name="Account_Type"></include>
  				<include name="Save_Changes_Button_Functionalty"></include>
  				<include name="Account_Head_Cancel_Button_Functionality"></include>
  				<include name="Update_Account_Head"></include>
  				<include name="Update_Cancel_Button_Functionality"></include>
  				<include name="Delete_Cancel_Button_Functionality"></include>
  				<include name="Delete_Account_Head"></include>
  		</methods>
  		</class>
  	</classes>
  </test> -->		
   
 <!--  <test name="Receipt" preserve-order="true">
  	<classes>
  		<class name="com.mytest.Receipt">
  		<methods>
  				<include name="Add_Account_Head"></include>
  				<include name="Name_contain_Special_Characters"></include>
  				<include name="Name_contain_numbers"></include>
  				<include name="Name_contain_whitespaces"></include>
  				<include name="Name_contain_alphabets"></include>
  				<include name="Name_field_is_Blank"></include>
  				<include name="Mobile_No_contain_special_characters"></include>
  				<include name="Mobile_No_contain_numbers" />
                <include name="Mobile_No_contain_whitespaces"/>
                <include name="Mobile_No_contain_alphabets"/>
                <include name="Mobile_No_contain_whitespaces_at_begining"/>
                <include name="Mobile_No_field_is_Blank"></include>
                <include name="Mobile_No_contain_lessthan_10_numbers"></include>
                <include name="Mobile_No_contain_greaterthan_10_numbers"></include>
                <include name="Email_contains_whitespaces"></include>
                <include name="Email_valid"/>
               	<include name="Email_contains_whitespaces_at_begining"></include>
               	<include name="Amount_field_is_Blank"></include>
               	<include name="Amount_contain_special_characters"></include>
               	<include name="Amount_contain_whitespaces"></include>
               	<include name="Amount_contain_alphabets"></include>
               	<include name="Amount_contain_numbers"></include>
               	<include name="Amount_contain_negative_numbers"></include>
               	<include name="Amount_contain_whitespaces_at_begining"></include>
               	<include name="Payment_Mode_Functionality"></include>
               	<include name="Account_Head"></include>
               	<include name="Notes"></include>
               	<include name="Save_Changes_Button_Functionality"></include>
               	<include name="Update_Functionality"></include>
               	<include name="Delete"></include>
               	<include name="Cheque_Payment_Mode"></include>
               	<include name="Online_Payment_Mode"></include>
  		</methods>
  		</class>
  	</classes>
  </test>  -->
  
<!--   <test name="Receipt_Day_Book_Report" preserve-order="true">
  	<classes>
  		<class name="com.mytest.Receipt_Day_Book_Report">
  		<methods>
  				<include name="Add_Account_Head"></include>
  				<include name="Cash_Payment_Mode"></include>
  				<include name="Cheque_Payment_Mode"></include> 
   				<include name="Online_Payment_Mode"></include> 
   		</methods>
  		</class>
  	</classes>
  </test>  -->		 
  
 <!--  <test name="Payment" preserve-order="true">
  	<classes>
  		<class name="com.mytest.Payment">
  		<methods>
  				<include name="Add_Receipt"></include>
  				<include name="Name_contain_Special_Characters"></include>
  				<include name="Name_contain_numbers"></include>
  				<include name="Name_contain_whitespaces"></include>
  				<include name="Name_contain_alphabets"></include>
  				<include name="Name_field_is_Blank"></include>
  				<include name="Mobile_No_contain_special_characters"></include>
  				<include name="Mobile_No_contain_numbers" />
                <include name="Mobile_No_contain_whitespaces"/>
                <include name="Mobile_No_contain_alphabets"/>
                <include name="Mobile_No_contain_whitespaces_at_begining"/>
                <include name="Mobile_No_field_is_Blank"></include>
                <include name="Mobile_No_contain_lessthan_10_numbers"></include>
                <include name="Mobile_No_contain_greaterthan_10_numbers"></include>
                <include name="Email_contains_whitespaces"></include>
                <include name="Email_valid"/>
               	<include name="Email_contains_whitespaces_at_begining"></include>
               	<include name="Amount_field_is_Blank"></include>
               	<include name="Amount_contain_special_characters"></include>
               	<include name="Amount_contain_whitespaces"></include>
               	<include name="Amount_contain_alphabets"></include>
               	<include name="Amount_contain_numbers"></include>
               	<include name="Amount_contain_negative_numbers"></include>
               	<include name="Amount_contain_whitespaces_at_begining"></include>
               	<include name="Payment_Mode_Functionality"></include>
               	<include name="Account_Head"></include>
               	<include name="Notes"></include>
               	<include name="Save_Changes_Button_Functionality"></include>
               	<include name="Update_Functionality"></include>
               	<include name="Delete"></include>
               	<include name="Cheque_Payment_Mode"></include>
               	<include name="Online_Payment_Mode"></include>
               	<include name="Cheque_Payment_Mode"></include>
               	<include name="Online_Payment_Mode"></include>
  		</methods>
  		</class>
  	</classes>
  </test>  --> 	
  
 <!--  <test name="Master_Employee" preserve-order="true">
  	<classes>
  		<class name="com.mytest.Master_Employee">
  		<methods>
  		  		<include name="Employeename_field_is_Blank"></include>
  				<include name="Employeename_contain_special_characters"></include>
  				<include name="Employeename_contain_numbers"></include>
  				<include name="Employeename_contain_alphabets"></include>
  				<include name="Mobile_No_contain_special_characters"></include>
  				<include name="Mobile_No_contain_numbers" />
                <include name="Mobile_No_contain_whitespaces"/>
                <include name="Mobile_No_contain_alphabets"/>
                <include name="Mobile_No_contain_whitespaces_at_begining"/>
                <include name="Mobile_No_field_is_Blank"></include>
                <include name="Mobile_No_contain_lessthan_10_numbers"></include>
                <include name="Mobile_No_contain_greaterthan_10_numbers"></include>
                <include name="Designation_contain_special_characters"></include>
                <include name="Designation_contain_numbers"></include>
                <include name="Designation_contain_alphabets"></include>
                <include name="Email_contains_whitespaces"></include>
                <include name="Email_valid"></include>
                <include name="Email_contains_whitespaces_at_begining"></include>
                <include name="Incentive_contain_special_characters"></include>
                <include name="Incentive_contain_whitespaces"></include>
                <include name="Incentive_contain_alphabets"></include>
                <include name="Incentive_contain_numbers"></include>
                <include name="Incentive_contain_negative_numbers"></include>
                <include name="Incentive_contain_whitespaces_at_begining"></include>
                <include name="Blank_Gender_field"></include>
                <include name="Gender_functionality"></include>
                <include name="Valid_Address"></include>
                <include name="PersonalInfo_Next_Button_Functionality"></include>
                <include name="Blank_UserName"></include>
                <include name="Existing_UserName"></include>
                <include name="UserName"></include>
                <include name="Blank_Employee_Role"></include>
                <include name="Employee_Role"></include>
                <include name="Blank_Password"></include>
                <include name="Password"></include>
                <include name="Blank_Confirm_Password"></include>
                <include name="Different_Confirm_Password"></include>
                <include name="Confirm_Password"></include>
                <include name="EmployeeRole_Next_Button_Functionality"></include>
                <include name="Finish_Button_Functionality"></include>
                <include name="Update_Button_Functionality"></include>
                <include name="Delete_Cancel_Button_Functionality"></include>
                <include name="Delete_Button_Functionality"></include>
  		</methods>
  		</class>
  	</classes>
  </test>  -->
  	
 <!--  <test name="Master_Role" preserve-order="true">
  	<classes>
  		<class name="com.mytest.Master_Role">
  		<methods>
  				<include name="Blank_Role_Title"></include>
	  			<include name="RoleTitle_contain_special_characters"></include>
	  			<include name="RoleTitle_contain_numbers"></include>
	  			<include name="RoleTitle_contain_whitespaces"></include>
	  			<include name="RoleTitle_contain_alphabets"></include>
	  			<include name="RoleTitle_contain_whitespaces_at_begining"></include>
  				<include name="Blank_Menu"></include>
  				<include name="Menu"></include>
  				<include name="Save_Button_Functionality"></include>
  				<include name="Update_Button_Functionality"></include>
  				<include name="Delete_Button_Functionality"></include>
  		</methods>
  		</class>
  	</classes>
  </test>	 -->	
   	
<!--    <test name="Payment_Day_Book_Report" preserve-order="true">
  	<classes>
  		<class name="com.mytest.Payment_Day_Book_Report">
  		<methods>
  				<include name="Add_Account_Head"></include>
  				<include name="Cash_Payment_Mode"></include>
				<include name="Cheque_Payment_Mode"></include> 
     			<include name="Online_Payment_Mode"></include> 
    		</methods>
  		</class>
  	</classes>
  </test> -->
  
<!--   <test name="Trainer_Batch" preserve-order="true">
  	<classes>
  		<class name="com.mytest.Trainer_Batch">
  		<methods>
  				<include name="Add_Employee"></include>
  				<include name="Blank_Trainer"></include>
 				<include name="Trainer"></include> 
 				<include name="Blank_Course"></include>
 				<include name="Course"></include>
 				<include name="Incentive_contain_special_characters"></include>
                <include name="Incentive_contain_whitespaces"></include>
                <include name="Incentive_contain_alphabets"></include>
                <include name="Incentive_contain_numbers"></include>
                <include name="Incentive_contain_negative_numbers"></include>
                <include name="Incentive_contain_whitespaces_at_begining"></include>
                <include name="Checkbox"></include>
  		</methods>
  		</class>
  	</classes>
  </test>	 -->
<!--   
  <test name="Master_Branch" preserve-order="true">
  	<classes>
  		<class name="com.mytest.Master_Branch">
  		<methods>
  				<include name="Blank_Branch_Name"></include>
  				<include name="Branchname_contain_special_characters"></include>
  				<include name="Branchname_contain_numbers"></include>
  				<include name="Branchname_contain_whitespaces"></include>
  				<include name="Branchname_contain_alphabets"></include>
  				<include name="Branchname_contain_whitespaces_at_begining"></include>
  				<include name="Blank_Branch_Location"></include>
  				<include name="Valid_Branch_Location"></include>
  				<include name="Blank_Phone_No"></include>
  				<include name="Phone_No_contain_special_characters"></include>
  				<include name="Phone_No_contain_whitespaces"></include>
  				<include name="Phone_No_contain_alphabets"></include>
  				<include name="Phone_No_contain_numbers"></include>
  				<include name="Phone_No_contain_negative_numbers"></include>
  				<include name="Phone_No_contain_whitespaces_at_begining"></include>
  				<include name="Phone_No_contain_lessthan_10_numbers"></include>
  				<include name="Phone_No_contain_greaterthan_11_numbers"></include>
  				<include name="GST_No_contain_Special_Characters"></include>
  				<include name="GST_No_contain_Whitespaces"></include>
  				<include name="GST_No_contain_Whitespaces_at_begining"></include>
  				<include name="GST_No_contain_lessthan_15_Characters"></include>
  				<include name="GST_No_contain_greaterthan_15_Characters"></include>
  				<include name="Blank_Email_Id"></include>
  				<include name="Email_contains_whitespaces"></include>
  				<include name="Email_valid"></include>
  				<include name="Email_contains_whitespaces_at_begining"></include>
  				<include name="Blank_Address"></include>
  				<include name="Valid_Address"></include>
  		</methods>
  		</class>
  	</classes>
  </test>			
   -->
<!--   <test name="Assign_RFID" preserve-order="true">
  	<classes>
  		<class name="com.mytest.Assign_RFID">
  		<methods>
  				<include name="Add_Admission"></include>
  				<include name="Blank_RFID"></include>
  		</methods>
  		</class>
  	</classes>
  </test>		
    -->
	 	 			
</suite> 

